<form [formGroup]="form" (ngSubmit)="onSubmit($event, form)">
	<h2 mat-dialog-title>移动本列表所有内容:</h2>
	<div mat-dialog-content>
		<mat-select placeholder="请选择目标列表" formControlName="targetListId">
			<mat-option *ngFor="let list of lists$ | async" [value]="list.id">
				{{list.name}}
			</mat-option>
		</mat-select>
	</div>
	<div mat-dialog-actions>
		<button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">保存</button>
		<button type="button" mat-button mat-dialog-close>关闭</button>
	</div>
</form>